<input
  class="block w-full rounded-md border border-gray-300 p-2.5 text-sm focus:border-blue-500"
  type="text"
  placeholder="Nome"
  [formControl]="name"
  (keyup.enter)="submitForm()"
/>
<span
  class="text-xs font-bold text-red-600"
  *ngIf="name.invalid && name.dirty && name.errors?.['required']"
>
  Campo Inválido
</span>
<span class="text-xs font-bold text-red-600" *ngIf="name.errors?.['minlength']">
  O jogo precisa ter pelo menos 3 caracteres
</span>
<button
  class="rounded-md bg-blue-700 px-5 py-2.5 text-sm font-medium text-white disabled:bg-slate-300 disabled:text-black"
  [disabled]="name.invalid"
  (click)="submitForm()"
>
  {{ mode }} jogo
</button>